@import url(/css/font.css);

body{
    width: 100%;
    background-color: #f7f1ec!important;
}
#warp{
    /* width: 100%; */
    max-width: 768px;
    background-color: #fff;
    margin: 0 auto;
}

/* header */
header{
    width: 100%;
    position: relative;
    /* erase */
    /* height: 70px; */
    /* border: 1px solid rebeccapurple; */
}
header .header_box{
    width: 100%;
    max-width: 768px;
    /* height: 70px; */
    /* padding: 20px 0 20px; */
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    /* erase */
    /* border: 1px solid rebeccapurple; */
}
header div.header_box .header_logo{
    width: 50%;
    padding: 72px 0 18px;
    /* padding-top: 32px; */
        /* erase */
        /* border: 1px solid rebeccapurple; */
}
header div.header_box .header_logo h1{
    text-align: left;
    padding-left: 30px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 32px;
    font-weight: 900;
    /* erase */
    /* height: 50px !important; */
}

/* phone */
header .header_box .header_phone{
    width: 100%;
    position: relative;
    /* erase */
    /* border: 1px solid rebeccapurple; */
}
header .header_box .header_phone a{
    position: absolute;
    top: -110px;
    right: 30px;
        /* erase */
    /* border: 1px solid rebeccapurple; */
}
header .header_box .header_phone a img{
    width: 90px;
    height: 90px;
}
header .header_box .header_phone a strong{
    font-family: 'Gothic A1', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

/* conainer */
#conainer{
    width: 100%;
    padding-top: 70px;
    /* erase */
    /* border: 1px solid rebeccapurple; */
}
#conainer .main_visual{}
#conainer .main_visual img{
    /* max-width: 768px; */
    width: 100%;
}
#conainer .service_company{
    font-family: 'Gothic A1', sans-serif;
    padding: 30px;
}
#conainer .service_company h2{
    font-size: 28px;
    font-weight: 700;
    padding-top: 10px;
}
#conainer .service_company p{
    padding-top: 20px;
    line-height: 1.5;
}
#conainer .map_image{
    width: 100%;
}
#conainer .map_image img{
    width: 100%;
}
/* footer_warp */
#footer_warp{}


@media(max-width:768px){}

/* 해상도 320px 이상 또는 768px 미만 -> 스마트폰
해상도 768px 이상 또는 1024px 미만 -> 태블릿
해상도 1024px 초과 -> PC */
